<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Connect With Me!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="girly-background">
  <div class="container animated-background text-center">
    <h1 class="fancy-text special-heading">You Said YES! 🎉</h1>
    <p class="proposal-text bigger-text"> If you’ve made it to this page and are okay with everything above  </p>
    <p class="proposal-text bigger-text">POST A STORY ABOUT CATS AND TAG MEE 💘🐱</p>

    <a href="{{ url_for('login') }}" class="heart-button mt-30">Start This Journey Again (If you want)</a>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

