<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>A Special Question...</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="girly-background">
  <div class="container animated-background text-center">
    <h1 class="fancy-text special-heading">A Question from My Heart...</h1>
    <p class="proposal-text bigger-text">
       Shruuthi, I have one more important question for you.
    </p>
    <p class="proposal-text bigger-text">
      If you think about your parents, I can convince them — mine never objected to me. I just need 6 months to get a good job and be stable, so I can take care of you, our future family, and my loved ones
    </p>
    <p class="question-text bold-text">
      Will you wait for me? Will you be by my side as I work towards our future?
    </p>
    <form action="{{ url_for('waiting_question') }}" method="post" class="question-form mt-30">
      <div class="radio-group">
        <label><input type="radio" name="wait_for_me" value="yes" required> Yes, I will </label>
        <label><input type="radio" name="wait_for_me" value="no"> noo </label>
      </div>
      <button type="submit" class="heart-button">My Answer</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

