<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>A Special Question...</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="girly-background">
  <div class="container animated-background text-center">
    <h1 class="fancy-text special-heading">A Question from My Heart...</h1>
    <p class="proposal-text bigger-text">
       Shruuthi, I have one more important question for you.
    </p>
    <p class="proposal-text">
      I need about 1.5 to 2 years to secure a good job and be able to truly take care of my loved ones, including you and our future family.
    </p>
    <p class="question-text bold-text">
      Will you wait for me? Will you be by my side as I work towards our future?
    </p>
    <form action="{{ url_for('waiting_question') }}" method="post" class="question-form mt-30">
      <div class="radio-group">
        <label><input type="radio" name="wait_for_me" value="yes" required> Yes, I will wait for you, always!🥰</label>
        <label><input type="radio" name="wait_for_me" value="no"> I'm not sure if I can wait that long...</label>
      </div>
      <button type="submit" class="heart-button">My Answer</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
